* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    color: #ffffff;
}

body {
    background: url(./images/pexels-stein-egil-liland-6321144.jpg) no-repeat center center fixed;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1.5em;
    border-bottom: 2px solid #ffffff;
    border-radius: 7px;
    background-color: #fff;
    color: #364f6b;
}

#menuIcon{
    display: none;
}

#dropdown{
    display: none;
}

header ul{
    display: flex;
}

header ul li{
    padding: 6px;
    border-left: 1px dashed #364f6b;
}

header ul li:last-child{
    border-right: 1px dashed #364f6b;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 55px;
    font-weight: 600;
}

.container .name h5{
    font-size: 22px;
    font-weight: 600;
    font-style: bold;
}

ul{
    list-style: none;
}

#menu {
    font-size: 18px;
    font-weight: 600;
    color: #364f6b;
}

#menu:hover{
    text-decoration: underline solid #364f6b;
    border-radius: 5px;
}

p {
    font-size: 16px;
}

.textoCorpo{
    max-width: 30em;
    margin: 0 auto;
    font-style: italic;
    display: none;
}

.textoDisplay {
    display: block;
}

a {
    text-decoration: none;
}

.form{
    width: 40%;
    margin: 0 auto;
}

.form p {
    margin-top: 20px;
}

.form button,
.form input {
    margin-top: 20px;
    color: #364f6b;
    border-style: solid;
    border-color: #fff;
    background-color: #fff;
}

.form input{
    border-radius: 5px 0px 0px 5px;
    width: 40%;
    margin-right: -.1em;
}

.form button{
    border-radius: 0px 5px 5px 0px;
    font-weight: 600;
    transition: 150ms;
    width: 15%;
}

.form button:hover{
    color: #ffffff;
    font-weight: 600;
    background-color: #364f6b;
    border-color: #364f6b;
}

.logo{
    height: auto;
    width: 150px;
    margin-top: 3px;
}

.seta{
    height: auto;
    width: 27px;
    cursor: pointer;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(117deg) brightness(105%) contrast(101%);
    animation: blink .8s steps(5, start) infinite;
}

@keyframes blink{
    to {
        filter: invert(27%) sepia(44%) saturate(493%) hue-rotate(171deg) brightness(91%) contrast(89%);
    }
}

#animation {
    transition: 300ms;
}

.rotate{
    transform: rotate(180deg);
    transition: 300ms;
    animation: none;
}

footer{
    height: 100px;
    width: auto;
}

@media only screen and (max-width: 480px) {
    header {
        margin: .5em;
        margin-top: 1em;
        height: 65px;
    }
    
    header ul {
        display: none;

    }

    #menu {
        display: none;
    }

    #menuIcon {
        display: block;
        height: auto;
        width: 20px;
        filter: invert(27%) sepia(44%) saturate(493%) hue-rotate(171deg) brightness(91%) contrast(89%);
    }

    #menuIcon:hover {
        cursor: pointer;
    }

    #closeIcon {
        height: auto;
        width: 20px;
        rotate: 270deg;
        filter: invert(27%) sepia(44%) saturate(493%) hue-rotate(171deg) brightness(91%) contrast(89%);
    }

    header ul li {
        border: none;
    }

    header ul li:last-child {
        border: none;
    }

    .textoCorpo{
        max-width: 75%;
    }

    .logo {
        width: 6.5em;
        margin-right: 8.5em;
    }

    .form {
        width: auto;
        max-width: 95%;
    }

    .form button {
        max-width: 15%;
    }

    .form input {
        width: auto;
        max-width: 45%;
    }
}