* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: #106a85;
}

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    background: url(./images/pexels-stein-egil-liland-6321144.jpg) no-repeat center center fixed;
    background-size: cover;
}

.logo{
    height: auto;
    width: 150px; 
}

.seta{
    height: auto;
    width: 40px;
}
