* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    color: #ffffff;
}

body {
    background: url(./images/pexels-stein-egil-liland-6321144.jpg) no-repeat center center fixed;
    background-size: cover;
}

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    margin: 1.5em;
    border-bottom: 2px solid #ffffff;
    border-radius: 7px;
    background-color: #fff;
    color: #364f6b;
}

header div img {
    margin-right: 40em;
}

header ul{
    display: flex;
    padding-right: 10em;
}

header ul li{
    padding: 6px;
    border-left: 1px dashed #364f6b;
}

header ul li:last-child{
    border-right: 1px dashed #364f6b;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 55px;
    font-weight: 600;
}

.container .name h5{
    font-size: 22px;
    font-weight: 600;
    font-style: bold;
}

ul{
    list-style: none;
}

#menu {
    font-size: 18px;
    font-weight: 600;
    color: #364f6b;
}

#menu:hover{
    color: #fff;
    background-color: #364f6b;
    border-radius: 5px;
}

p {
    font-size: 16px;
}

.textoCorpo {
    font-style: italic;
}

.container div .textoCorpo{
    max-width: 30em;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

.form{
    width: 40%;
    margin: 0 auto;
}

.form button,
.form input {
    color: #364f6b;
}

.form input{
    width: 40%;
}

.form button{
    width: 15%;
}

.form button:hover{
    color: #ffffff;
    background-color: #364f6b;
    border-color: #364f6b;
    border-radius: 5px;
}

.logo{
    height: auto;
    width: 150px;
    margin-top: 3px;
}

.seta{
    height: auto;
    width: 40px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(117deg) brightness(105%) contrast(101%);
}
