* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    color: #106a85;
}

.container{
    text-align: center;
}

.container .name h1{
    font-size: 55px;
    font-weight: 600;
}

.container .name h5{
    font-size: 22px;
    font-weight: 600;
    font-style: bold;
}

ul{
    list-style: none;
}

#menu {
    font-size: 18px;
    font-weight: 600;
}

p {
    font-size: 16px;
}

.textoCorpo {
    font-style: italic;
}

a {
    text-decoration: none;
}

body {
    background: url(./images/pexels-stein-egil-liland-6321144.jpg) no-repeat center center fixed;
    background-size: cover;
}

.logo{
    height: auto;
    width: 150px; 
}

.seta{
    height: auto;
    width: 40px;
    filter: invert(100%) sepia(100%) saturate(2%) hue-rotate(117deg) brightness(105%) contrast(101%);
}
